.controls > *,
.skin-change > div {
    background-color: var(--bright-green);

    font-size: 3vh;
    text-align: center;

    background: radial-gradient(var(--bright-green),
    var(--dark-green));


    box-shadow: 0 0 .5vh 0 white;
}

.controls > *{
    font-size: 5vh;

}

.controls > div:active,
.skin-change > div:active {
    box-shadow: 0 0 2vh 0 black inset,
        0 0 1vh 0 var(--text-color);
}

.big-button:active {
    font-size: 4.8vh;
}

.d-pad {
    background: radial-gradient(var(--sunny-blue),
    var(--deep-blue));

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 20% ;

    box-shadow: 0 0 1vh rgb(253, 33, 33);

}

.reset {
    right: 2vh;
    top: 2vh;

    transform: rotate(10deg);

    border-radius: 1vh;

    font-size: 2vh;

    background: radial-gradient(var(--bright-green) 80%,
    var(--dark-green));
}

.skin-change {
    left: 4vh;
}

.skin-change > div {
    width: 5vh;
    height: 4vh;
    margin-right: 1vh;
}

.previous {
    border-top-left-radius: 100% 50%;
    border-bottom-left-radius: 100% 50%;
}

.next {
    border-top-right-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
}